.todo-item {
	display: flex;
	margin-bottom: 10px;
	justify-content: space-between;
	background-color: #9a9a9a;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 2px 3px 14px -6px #656565;

	&.done {
		background-color: green;
	}

	&__label {
		padding: 10px;
		color: #f0f0f0;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 2px;
	}
}
